/* JAGP
  ============================= */
.jagp {
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: lighter;
  color: gray;
}
.jagp a {
  color: #05a6f1;
}
.jagp a:link {
  text-decoration: none;
}
.jagp a:visited {
  font-style: italic;
}
.jagp a:hover {
  text-decoration: underline;
}
.jagp a:active {
  font-style: italic;
  text-decoration: underline;
  color: gray;
}
.jagp h1,
.jagp h2 {
  margin: 0;
  font-size: 16px;
  padding: 8px 16px;
}
.jagp h1 {
  text-align: left;
}
.jagp h2 {
  text-align: right;
}
