/* DEVELOPER
  ============================= */
.dev {
  margin: 0;
  color: gray;
}
.dev a {
  color: #05a6f1;
}
.dev a:link {
  text-decoration: none;
}
.dev a:visited {
  font-style: italic;
}
.dev a:hover {
  text-decoration: underline;
}
.dev a:active {
  font-style: italic;
  text-decoration: underline;
  color: gray;
}
.dev h1,
.dev h2 {
  margin: 0;
  font-size: 16px;
  padding: 8px 16px;
}
.dev h1 {
  text-align: start;
}
.dev h2 {
  text-align: end;
}
